@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

button {
  cursor: pointer
}



.header {
  min-height: 100px;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 40px;
  word-break: break-all;
}

#new {
  font-size: 25px;
  padding: 8px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
}



table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse:separate;
  word-spacing: 100%;
}

thead {
  background-color: rgb(119, 188, 252);
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 5px;
  max-width: 300px;
}

thead tr th {
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 20px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(92, 176, 201, 0.767);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  background-color: rgba(92, 176, 201, 0.767);
  border-radius: 100px;
  width: 50%;
  
}

.modal label {
  font-size: 25px;
  font-weight: bold;
    
}

.modal input {
  width: 100%;
  outline: none;
  padding: 7px 10px; 
  width: 100%;
  margin-bottom: 30px;
  border-radius: 50px;
}


.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}



td button {
  border: none;
  outline: none;
  background: rgb(255, 12, 12);
  width: 30px;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}